<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ufrpe.foodguru">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_food_guru"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_food_guru"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".usuario.GUI.LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cliente.GUI.RegistroClienteActivity"
            android:label="Registre-se" />
        <activity
            android:name=".usuario.GUI.TipoCadastroActivity"
            android:label="Tipo de cadastro" />
        <activity
            android:name=".estabelecimento.GUI.RegistroEstabelecimentoActivity"
            android:label="Registre-se" />
        <activity
            android:name=".usuario.GUI.RecuperarSenhaActivity"
            android:label="Recuperação de senha" />
        <activity
            android:name=".infraestrutura.utils.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cliente.GUI.HomeClienteActivity"
            android:icon="@drawable/ic_teste_sair"
            android:label="Home" />
        <activity
            android:name=".estabelecimento.GUI.HomeEstabelecimentoActivity"
            android:label="Home" />
        <activity
            android:name=".cliente.GUI.EditarDadosClienteActivity"
            android:label="Edição de dados" />
        <activity
            android:name=".Mesa.GUI.AdicionarMesaActivity"
            android:label="Adicione uma mesa" />
        <activity
            android:name=".Mesa.GUI.EditarMesaActivity"
            android:label="Editar mesa" />
        <activity
            android:name=".estabelecimento.GUI.EditarDadosEstabelecimentoActivity"
            android:label="Editar dados" />
        <activity
            android:name=".Mesa.GUI.DetalhesMesaActivity"
            android:label="Detalhes da mesa" />
        <activity
            android:name=".Prato.GUI.AdicionarSessaoActvity"
            android:label="Adicione uma sessão" />
        <activity
            android:name=".Prato.GUI.SessaoActvity"
            android:label="Sessões" />
        <activity
            android:name=".Prato.GUI.EditarSessaoActvity"
            android:label="Editar sessão" />
        =======
        <activity
            android:name=".Prato.GUI.AdicionarPratoActivity"
            android:label="Adicionar prato" />
        <activity
            android:name=".Prato.GUI.DetalhesPratoActivity"
            android:label="Detalhes do prato" />
        <activity
            android:name=".Prato.GUI.EditarPratoActivity"
            android:label="Editar prato" />
        <activity android:name=".cliente.GUI.OperacaoActivity" />
        <activity android:name=".Prato.GUI.DetalhesPratoClienteActvity" />
    </application>

</manifest>